@media (max-width: 680px) {
    .navv h2 {
        display: none;
    }

    .sec1 .rightSide {
        display: flex;
        align-items: center;
        margin-top: 38px;
    }

    .sec1 .rightSide .first {
        width: 290.855px;
        height: 228.882px;
        margin-top: 38px;
        position: absolute;
        left: 60px;
       
    }

    .sec1 .rightSide .second {
        width: 325px;
        position: relative;
    } 

    .sec1 .leftSide {
        align-items: center;
        justify-content: center;
    }

    .sec1 .leftSide h2 {
        width: 276px;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
    }

    .sec1 .leftSide p {

        width: 291px;
        height: 109px;
        flex-shrink: 0;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: -0.36px;
    }

    .sec1 {
        margin-bottom: -200px;
    }

    .sec2 .sec2Heading {
        width: 266px;
        flex-shrink: 0;
        height: 87px;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
    }

    .sec2 .sec2Description {
        display: none;
    }

    .sec2 .sec2DescriptionMobile {
        display: block;
        width: 291px;
        height: 109px;
        flex-shrink: 0;
        color: #66645E;
        text-align: center;
        font-family: Open Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: -0.36px;
    }

    .sec2 .cards {
        flex-direction: column;
        row-gap: 23px;
        margin-top: 10px;
    }

    .sec2 .cards .card {
        width: 319px;
        height: 287px;
    }

    .sec2 .cards .card h3 {
        width: 199px;
        height: 32px;
    }

    .sec2 .cards .card p {
        width: 310px;
        height: 73px;
    }

    .sec3,
    .sec4,
    .sec5,
    .sec6,
    .sec7,
    ert {
        display: none;
    }

    footer ul {
        flex-direction: column;
        align-items: center;
    }

    footer ul li:nth-child(2) {
        margin-left: 0;
    }
}